// soh
$background: #7ba8a1a2
$nav: #4C566A
$link: #5E81AC
$paragraph: #54835d
$header: #8aa68f
$main: #ebd58b
$border: #434c5e
$footer: #bf6161

// Nord
$background-n: #8b9caf
$black: #000000
$blue: #313d53
$ice: #D8DEE9
$iceblue: #434c5e
$darkiceblue: #4C566A
$brightGreen: #a7c5ab
$darkblue: #1c2333
$brightRed: #d07070
$brightWhite: #FBFEFF
$brightYellow: #ebd58b
$brightblue: #5E81AC
$cyan: #88C0D0
$foreground: #ECF3FF
$green: #8aa68f
$pink: #B48EAD
$red: #bf6161
$selectionBackground: #D6DAE0
$white: #ECEFF4
$yellow: #C19C00

// Blue Gray
$blue-gray-darkest: #2d3341
$blue-gray-dark: #2a303f
$blue-gray-light: #4b5363
$blue-gray-lightest: #636b7c

// Snow Storm
$snow-storm: #9ca7bb
$snow-storm-light: #afb9ce
$snow-storm-lightest: #d6dce4
$snow-storm-dark: #929db3
$snow-storm-darkest: #8a9caa
