@import '../base/_colors.sass'

nav
    justify-content: space-between
    font-family: monospace
    border: 1px solid $snow-storm-light
    border-radius: 5px
    margin: 0 auto
    display: flexbox
    color: $blue-gray-light
    font-size: 1.5rem
    padding: 0.5em

ul
    margin: 0
    padding: 0
    &:hover
        color: $snow-storm-darkest
        cursor: pointer
        & > *
            color: $snow-storm-darkest

li
    list-style: none
    &:hover
        color: $snow-storm-darkest

a
    color: $snow-storm-lightest
    text-decoration: none
