@import '../base/_colors.sass'

nav
    justify-content: space-between
    font-family: monospace
    font-size: 1.5rem
    padding: 0.5em
    & > *
        margin: 0 0.5em

ul
    margin: 0
    padding: 0
    & > *
        margin: 0 0.5em
        &:hover
            color: $snow-storm-darkest
            cursor: pointer
            & > *
                color: $snow-storm-darkest

li
    list-style: none
    &:hover
        color: $snow-storm-darkest

a
    color: $snow-storm-lightest
    text-decoration: none
